@import 'config';
@import 'utilities';

// General Styles
* {
  padding: 0;
  margin: 0;
  z-index: 2;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

// Logo
#logo {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto;
}

#main-nav {
  position: fixed;
  display: flex;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0%;
  width: 100%;
  justify-content: flex-end;
  padding: 1.5rem;

  ul {
    display: flex;
  }

  li {
    padding: 0.5rem 1rem;
  }

  a {
    text-decoration: none;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

#header {
  &-home {
    #particles-js {
      position: relative;
      top: 0;
      z-index: 1;
      width: 100%;
      background-color: none;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .header-content {
      position: relative;
      bottom: 65vh;
      text-align: center;
      margin: 0 auto;
      height: 0px;
      width: 50%;
      a {
        margin-top: 3rem;
      }

      .textHeading {
        &-Welcome {
          padding-top: 4rem;
          font-size: 1rem;
          letter-spacing: 0.8rem;
          word-spacing: 0.8rem;
          font-weight: 50;
          color: $text-heading-light;
          text-transform: uppercase;

          .pipe {
            vertical-align: middle;
            opacity: 0.2;
            font-size: 1.8rem;
          }
        }

        &-WeDesign {
          padding-top: 1.5rem;
          font-size: 5rem;
          letter-spacing: 0rem;
          word-spacing: 0.6rem;
          font-weight: 400;

          .design {
            color: $main-color;
            font-weight: 800;
          }
        }
      }
    }
  }
}

#home-about {
  .skew {
    height: 200px;
    top: 50px;
    position: relative;
    background: #29abe2;
    transform: skewy(-3deg);
    -webkit-transform: skewy(-3deg);
  }

  .about {
    color: #fff;
    font-weight: 500;
    background: #29abe2;
    padding-bottom: 4rem;

    .flexme {
      display: flex;
      justify-content: space-evenly;

      .about-left {
        width: 50%;
        margin-top: 3rem;
        font-size: 1.5rem;
        color: black;

        h1 {
          font-weight: 800;
        }

        span {
          color: #fff;
          font-weight: 800;
        }
      }

      .about-right {
        height: 100%;
        img {
          width: auto;
          border: solid;
          border-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

#core-services,
#our-promise {
  margin-top: 5rem;
  text-align: center;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }

  img {
    width: 180px;
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
    font-weight: 100;
  }

  .core-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  p {
    margin-bottom: 3rem;
    font-size: 1rem;
    padding: 0 10px 0 10px;
  }
}

.promise {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+99 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 10%,
    rgb(172, 172, 172) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 10%,
    rgb(172, 172, 172) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 10%,
    rgb(172, 172, 172) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  .material-icons {
    font-size: 8rem;
    color: $main-color;
    margin-bottom: 2rem;
    font-weight: lighter;
    // -webkit-text-stroke: 3px #d3d3d3;
  }
}

#work-togheter {
  text-align: center;
  padding-top: 5rem;
  background: $main-color;
  min-height: 300px;

  h3 {
    font-size: 1.4rem;
    font-weight: 20;
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 20;

    span {
      color: #fff;
    }
  }
  a {
    border: solid #29abe2;
    border-radius: 30px;
    width: 150px;
    padding: 12px;
  }

  a:hover {
    border: solid #fff;
    background-color: #29abe2;
    color: #333;
    transition: 500ms ease-in-out;
  }
}

#our-work {
  h1 {
    font-size: 2.5rem;
  }
  /* Style the Image Used to Trigger the Modal */
  .flex-image {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;

    .Img {
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: 0.3s;
      max-width: 250px;
      height: auto;
      transition: all 0.8s ease-in-out;
    }
    .Img:hover {
      transform: scale(1.2);
    }
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
}

#contact-us {
  background-color: $main-color;
  padding: 10rem;

  h1 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
  }
  #contact {
    background: #f9f9f9;
    padding: 5rem;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 800px;
    margin: 0 auto;

    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='url'],
    textarea,
    button[type='submit'] {
      font: 400 14px/16px 'Roboto', Helvetica, Arial, sans-serif;
      width: 100%;
      height: 10px;
      border: none;
      border-radius: 0.3rem;
      padding: 1rem;
    }

    input[type='text']:hover,
    input[type='email']:hover,
    input[type='tel']:hover,
    input[type='url']:hover,
    textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }

    textarea {
      height: 150px;
      max-width: 100%;
      resize: none;
    }

    button[type='submit'] {
      cursor: pointer;
      width: 50%;
      height: 3rem;
      border-radius: 5px;
      border: none;
      color: #fff;
      margin: 0 auto;
      display: block;
      margin-top: 2rem;
      padding: 10px;
      font-size: 15px;
    }

    input:focus,
    textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }
  }
}
